<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mobin.mapper2.WmOrderProductMapper">

	<select id="selectProductSalesInfo" parameterType="map" resultType="com.mobin.model.wisa.WmProductSalesVO">
		SELECT * FROM
		(SELECT 
			IFNULL(TRUNCATE(SUM(total_prc),0),0) AS total_price
		 FROM   
			wm_order_product
		 WHERE  
			SUBSTRING_INDEX(ono, '-', 1) BETWEEN   #{start} AND  #{end}
			AND pno = #{pid} AND stat IN (4,5)
		 )a,
		(
			SELECT 
				IFNULL(SUM(buy_ea),0) AS order_product
			FROM   wm_order_product
			WHERE  
			SUBSTRING_INDEX(ono, '-', 1) BETWEEN    #{start} AND  #{end}
			AND pno = #{pid} AND stat NOT IN (11,32,31)
		)b,
		(SELECT NAME FROM   wm_product WHERE  NO = #{pid}) c	
	</select>
	
</mapper>